head {
    background-color: #333; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста в заголовке */
    padding: 20px; /* Внутренний отступ вокруг содержимого заголовка */
    font-family: Arial, sans-serif; /* Шрифт текста в заголовке */
}
body {
    background-image: url("C:\Users\iskha\Downloads\spiderman-4k-2019-fr-2560x1440.jpg");
    background-size: cover; /* растягивает изображение, чтобы заполнить всю область фона */
    background-repeat: no-repeat; /* предотвращает повторение изображения */
}
