head {
    background-color: #333; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста в заголовке */
    padding: 20px; /* Внутренний отступ вокруг содержимого заголовка */
    font-family: Arial, sans-serif; /* Шрифт текста в заголовке */
}
body {
    background-image: url("https://img3.akspic.ru/attachments/crops/3/2/0/9/59023/59023-supergeroj-superzlodej-betmen_rycar_arkhema-art-temnota-3840x2160.jpg");
    background-size: cover; /* растягивает изображение, чтобы заполнить всю область фона */
    background-repeat: no-repeat; /* предотвращает повторение изображения */
}
p{
    background-color: #ffffff5d;
}
h1{
    
    background-color: #ffffff8d;
}
li{
    
    background-color: #ffffff8d;
}